<h2> Welcome to Html Project using docker-compose </h2>

<p>I have created this project using a simple html file as index.html, a docker file and a compose file for running in docker-compose</p>

<p> Have a nice day :). </p>